@media (max-width: 600px) {

/*Sección Productos*/
    .products {
      display: inherit;
      height: auto;
      max-height: none;
    }
    .product {
      margin-top: auto;
    }
    .main_section {
      padding: 4%;
    }



/*Seccion Beneficios*/

  .beneficio, .caja {
    display: inherit;
  }

/*Seccion Menciones*/

  .mencion {
    margin: 10% 20%;
    width: 70%;
  }

}
